@model IEnumerable<WorkingDayReadOnlyVM>

@{
	ViewData["Title"] = "Index";
}


<h1>Working Dates summary</h1>

<div class="button-container">
    @if (User.IsInRole(Roles.Administrator))
    {
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New Working Day</a>
        </p>
    }
</div>

@if (Model == null || !Model.Any())
{
	<p>No data available.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Day)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Day)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>

                    <td>
                        <a asp-action="Comments" asp-route-id="@item.Id" class="btn btn-success">Details</a>
                        @if (User.IsInRole(Roles.Administrator))
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        }
                        <!--asp-route-id: Defines a route parameter named id.
                         The value of the route parameter is set to item.Id (server-side code), where item is an object in the current context, and Id is its property.Generated URL:
                         When the Razor view is rendered, the asp-route-id generates a URL that includes the id as a query string or route parameter, depending on the route configuration.
                        For example:
                        Assume the item.Id has a value of 5.
                        If the route template for the Edit action is /ControllerName/Edit/{id}, the generated HTML link will look like this:-->
                    </td>
                </tr>
            }
        </tbody>
    </table>
}