@model EmployeeAllocationVM

@{
	ViewData["Title"] = "ViewEmployeeAllocations";
}

<h1> Here are the task allocations for the employee : @Model.FirstName @Model.LastName</h1>
<br />


<div>
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FirstName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FirstName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.LastName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.LastName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DateOfBirth)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DateOfBirth)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DepartmentName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DepartmentName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.SkillLevel)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.SkillLevel)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Email)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Email)
		</dd>
	</dl>
</div>

@if (Model.TaskAllocations.Any())
{
	<div class="table-responsive">
			<table class="table table-hover">
				<thead>
				<tr>
					<!--TODO: Html.DisplayNameFor doesnt work here why??-->
					<th>
						Date
					</th>
					<th>
						Start Time
					</th>
					<th>
						End Time
					</th>
					<th>
						Task
					</th>
					<th>
						Department
					</th>
					<th>
						Skill level
					</th>
					<th>
						Description
					</th>
				</tr>
				</thead>
				<tbody>
				@foreach (var allocation in Model.TaskAllocations)
				{
					<tr>
					<td>
						@allocation.WorkingDay.Day
					</td>
					<td>
						@allocation.WorkingDay.StartTime
					</td>
					<td>
						@allocation.WorkingDay.EndTime
					</td>
					<td>
						@allocation.TaskType.Name
					</td>
					<td>
						@allocation.TaskType.Department
					</td>
					<td>
						@allocation.TaskType.SkillLevel
					</td>
					<td>
						@allocation.TaskType.Description
					</td>
					<td>
						@if(User.IsInRole(Roles.Administrator)){
							<a asp-action="Deallocate" class="btn btn-warning" asp-route-id="@allocation.Id">Deallocate </a>
						}
					</td>
					</tr>
				}
				</tbody>
			</table>
		</div>
	
}
else
{
	<h1>Currently the employee doesnt have any task allocations</h1>
}
<br />
<a asp-action="ViewEmployees" class="btn btn-primary">Back to List </a>
@if (User.IsInRole(Roles.Administrator))
{
	<a asp-action="SendMailToEmployee" class="btn btn-success" asp-route-id="@Model.Id">Send Email to Employee</a>
	<a asp-action="SendMailToEmployee" class="btn btn-warning" asp-route-id="16914ec6-4686-4c2c-ba58-5a9c3c15f404">Send Email to Task Manager</a>
}
@if (User.IsInRole(Roles.TaskManager))
{
	<a asp-action="SendMailToEmployee" class="btn btn-success" asp-route-id="@Model.Id">Send Email to Employee</a>
	<a asp-action="SendMailToEmployee" class="btn btn-warning" asp-route-id="384df32d-2a7c-4147-baf1-152db746565b">Send Email to Administrator</a>
}