@model IEnumerable<TaskAllocationVM>

@{
	ViewData["Title"] = "ViewSingedInEmployeeAllocations";
}

@if (Model.Any())
{
	<h1>Here are your task allocations:</h1>
	<br />
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>
						Date
					</th>
					<th>
						Start Time
					</th>
					<th>
						End Time
					</th>
					<th>
						Task
					</th>
					<th>
						Department
					</th>
					<th>
						Skill Level
					</th>
					<th>
						Description
					</th>
				</tr>
			</thead>
			<tbody>
			@foreach(var item in Model)
			{
				<tr>
					<td>
						@item.WorkingDay.Day
					</td>
					<td>
						@item.WorkingDay.StartTime
					</td>
					<td>
						@item.WorkingDay.EndTime
					</td>
					<td>
						@item.TaskType.Name
					</td>
					<td>
						@item.TaskType.Department
					</td>
					<td>
						@item.TaskType.SkillLevel
					</td>
					<td>
						@item.TaskType.Description
					</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
}
else
{
	<h1>Currently you dont have any Task allocations!</h1>
}