@model TaskTypeReadOnlyVM

@{
	ViewData["Title"] = "Details";
}

<h1>Detailed view for Task: @Model.Name</h1>
<hr />
<div>
	<dl class="row">
	<dt class="col-sm-2">
		@Html.DisplayNameFor(model => model.Name)
	</dt>
	<dt class="col-sm-10">
		@Html.DisplayFor(model => model.Name)
	</dt>
	<br />
	<dt class="col-sm-2">
		@Html.DisplayNameFor(Model => Model.StartDate)
	</dt>
	<dt class="col-sm-10">
		@Html.DisplayFor(Model => Model.StartDate)
	</dt>
	<br />
	<dt class="col-sm-2">
		@Html.DisplayNameFor(Model => Model.Department)
	</dt>
	<dt class="col-sm-10">
		@Html.DisplayFor(Model => Model.Department)
	</dt>
	<br/>
	<dt class="col-sm-2">
		@Html.DisplayNameFor(Model => Model.SkillLevel)
	</dt>
	<dt class="col-sm-10">
		@Html.DisplayFor(Model => Model.SkillLevel)
	</dt>
	<br />
	<dt class="col-sm-2">
		@Html.DisplayNameFor(Model => Model.Description)
	</dt>
	<dt class="col-sm-10">
		<input type="text" class="form-control" value="@Model.Description" readonly />
	</dt>
	<br />
	</dl>
</div>


<a asp-action="Index" class="btn btn-primary">Back to List</a>





<!--1.col-sm-2: This column occupies 2/12 of the row's width (16.67% of the row) on small devices and larger.
2. col-sm-10: This column occupies 10/12 of the row's width (83.33% of the row) on small devices and larger.
Together, they span the full row (2 + 10 = 12).-->
